extends layout

block content
  .left-image-decor
  section#testimonials.section
    .container
      .row
        .col-lg-8.offset-lg-2
          .center-heading
            h2
              | Liste des 
              em Activités
        form(action='' method='POST')
          table.tab-table.tab-bordered.tab-hoverable(cellpadding='8')
            tbody
              tr.center-heading.tab-color
                th
                  b Description
                th
                  b Date
                th
                  b Heure de début
                th
                  b Durée
                th
                  b Distance parcourue
                th
                  b Frequence minimum
                th
                  b Frequence maximum
                th
                  b Frequence moyenne
              each activity in activites 
                tr
                  th=activity.Description
                  th=activity.Date
                  th=activity.BegginingTime
                  th=activity.Duration
                  th=activity.Distance
                  th=activity.MinCardio
                  th=activity.MaxCardio
                  th=activity.AverageCardio
