<<<<<<< HEAD
html
    head
        title= title
=======

html
    head
        title= title
        
>>>>>>> f4540acf1e4dd8d538f1315e6cbab0b01de1c32f
    body
        table(border='1')
            thead
                tr
                    th Nom
                    th Prénom
                    th Date de naissance
                    th Taille
                    th Poids
                    th Email
            tbody
                each val in data
                 tr
                    td= val.Name
                    td= val.Surname
                    td= val.BirthDate
                    td= val.Height
                    td= val.Weight
                    td= val.Email
