html
    head
        title= title
    body
        table(border='1')
            thead
                tr
                    th Nom
                    th Prénom
                    th Date de naissance
                    th Taille
                    th Poids
                    th Email
            tbody
                each val in data
                 tr
                    td= val.Name
                    td= val.Surname
                    td= val.BirthDate
                    td= val.Height
                    td= val.Weight
                    td= val.Email
